################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/AzureIoT/.vs/AzureIoT
/Client/AzureIoT/AzureIoT/obj/ARM/Debug
/Client/AzureIoT/media
/Client/AzureIoT/Tools
/Client/AzureIoT/AzureIoT/app_manifest.json
/Client/AzureIoT/AzureIoT/bin/ARM/Debug
/Client/AzureIoT/IoTCentral
/Server/UrbanFarmingWebApp/bin
/Server/UrbanFarmingWebApp/obj
/Artwork
